<%= form_for(@receitum) do |f| %>
  <% if @receitum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@receitum.errors.count, "error") %> prohibited this receitum from being saved:</h2>

      <ul>
      <% @receitum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cloned_from_id %><br>
    <%= f.number_field :cloned_from_id %>
  </div>
  <div class="field">
    <%= f.label :usuario_id %><br>
    <%= f.number_field :usuario_id %>
  </div>
  <div class="field">
    <%= f.label :titulo %><br>
    <%= f.text_field :titulo %>
  </div>
  <div class="field">
    <%= f.label :descricao %><br>
    <%= f.text_area :descricao %>
  </div>
  <div class="field">
    <%= f.label :deleted_at %><br>
    <%= f.datetime_select :deleted_at %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
