<%= form_for(@voto) do |f| %>
  <% if @voto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@voto.errors.count, "error") %> prohibited this voto from being saved:</h2>

      <ul>
      <% @voto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :receita_id %><br>
    <%= f.number_field :receita_id %>
  </div>
  <div class="field">
    <%= f.label :categoria_id %><br>
    <%= f.number_field :categoria_id %>
  </div>
  <div class="field">
    <%= f.label :usuario_id %><br>
    <%= f.number_field :usuario_id %>
  </div>
  <div class="field">
    <%= f.label :like %><br>
    <%= f.check_box :like %>
  </div>
  <div class="field">
    <%= f.label :comentario %><br>
    <%= f.text_area :comentario %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
