<% if @receitas.nil? || @receita_clonada %>

<% else %>
  <h1>Lista de Receitas</h1>

  <table border="0">
    <thead>
      <tr>
        <th>Cloned from</th>
        <th>Usuario</th>
        <th>Titulo</th>
        <th>Descricao</th>
        <th>Deleted at</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @receitas.each do |receita| %>
        <tr>
          <td><%= receita.cloned_from_id %></td>
          <td><%= receita.usuario_id %></td>
          <td><%= receita.titulo %></td>
          <td><%= receita.descricao %></td>
          <td><%= receita.deleted_at %></td>
          <!--<td><%#= link_to 'Show', receita %></td>!-->
          <td><%= link_to 'Editar', edit_receita_path(receita) %></td>
          <td><%= link_to 'Apagar', receita, method: :delete, data: { confirm: 'Tem certeza que deseja apagar?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
  <% end %>
<%= link_to 'New Receita', new_receita_path %>
