<h1>Minhas Receitas</h1>

<% if @receitas.length == 0 %>
  
  <div class="alert alert-warning">
    Nenhuma receita foi cadastrada. Clique <%= link_to 'aqui', new_receita_path %> para cadastrar.
  </div>

<%- else -%>

  <div class="row">
    <% @receitas.each do |receita| %>
      <div class="col-sm-12">
        <h3><%= link_to receita.titulo, receita_path(receita) %></h3>
        
        <%= raw(receita.descricao) %><br>

        <%= link_to receita, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' do %>
          <i class="fa fa-trash-o"></i> 
          Apagar
        <%- end -%>
        <hr>
      </div>
    <% end %>
  </div>
  
<% end %>

<%= paginate @receitas %>

<br>

<%= link_to 'Nova Receita', new_receita_path, class: 'btn btn-default' %>
