<p id="notice"><%= notice %></p>

<p>
<p>
  <strong>Usuario:</strong>
  <%= @receita.usuario_id %>
</p>

<p>
  <strong>Titulo:</strong>
  <%= @receita.titulo %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @receita.descricao %>
</p>

<p>
  <strong>Categorias:</strong>
  <% @receita.categorias.each do |c| %>
    <%= c.nome %> <br>
  <%end%>
</p>

<%= link_to 'Edit', edit_receita_path(@receita) %> |
<%= link_to 'Back', receitas_path %>
